html{

    background-color: white;
}

.App{
  display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    
  }
td {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  padding: 70px;
  margin: 130px;
  background-color:white;
  border: 2px solid black;
  
}
th{
  padding: 20px;
  margin: 80px;
  background-color:white;
  border: 8px solid black;



}
button{
  padding: 20px;
  font-size: large;
  margin: 15px;
  border-color: black;
  background-color:green ;
  transition: 5s;
}


/* general */
table{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* IMG */
 img{
  height: 80px;
  width: 50px;
} 

